{% extends "layout.html" %}

{% block content %}

<style>

table, td, tr { border: 1px solid black; }
td { width:20px; height:20px; }
td.water { background-color: cyan }
td.miss { background-color: yellow }
td.hit { background-color: red }
td.boat { background-color: grey }

</style>

<table>
{% set r=1 %}
{% for row in game.board %}
{% set r=loop.index -%}
<tr>
 {%- for col in row -%}
<td id="c{{loop.index}}r{{r}}" class="water"></td>
 {%- endfor -%}
</tr>
{%- endfor %}
</table>

<script>
 var list = ['water','miss','hit','boat']
 for (var r=1;r<11;r++) {
  for (var c=1;c<11;c++) {
   var coord = 'c'+c+'r'+r
   var el = document.getElementById(coord)
   var num = (c*10+r)%list.length
   el.className = list[num]
  }
 }

</script>

{% endblock %}
