{% extends "layout.html" %}

{% block content %}
        <h1>Hello{% if current_user.id %}, {{ current_user.id }}{% endif %}!</h1>
		<b>Available Games {{ games | count  }}</b>
		<ul>
		{% for game in games %}
			<li>
				{{ game }} {{ game.id }} {{ game.players }} 
				- {{ game.is_player(current_user.id) }} {% if game.is_player(current_user.id) %} you have joined {% endif %}
				- {{ game.can_join() }} {% if game.can_join() %} game not full {% endif %}
				- {{ game.current_number_players() }}
				{% if game.can_join() and not game.is_player(current_user.id) %}
					<a href="{{ url_for('game', id=game.id) }}">join!</a>
				{% endif %}
				{% if not game.can_join() and game.is_player(current_user.id) %}
					<a href="{{ url_for('game', id=game.id) }}">play!</a>
				{% endif %}
				{% if game.can_join() and game.is_player(current_user.id) %}
					awaiting other player!
				{% endif %}
			</li>
        {% endfor %}	
		<ul>
{% endblock %}
