{% extends "layout.html" %}

{% block content %}

<style>

table { border: none }
td, tr { border: 1px solid black; }
td { width:20px; height:20px; }
td.water { background-color: cyan }
td.miss { background-color: yellow }
td.hit { background-color: red }
td.boat { background-color: grey }

</style>

<div id="myboard" style="display:inherit">
<table>
{% for row in game.show_board(current_user.id) %}
{% set r=loop.index -%}
<tr>
 {%- for col in row -%}
<td id="you_c{{loop.index}}r{{r}}" class="{{ col }}"></td>
 {%- endfor -%}
</tr>
{%- endfor %}
</table>
</div>

<div id="theirboard" style="display:none">
<table>
{% for row in game.show_board(current_user.id, False) %}
{% set r=loop.index -%}
<tr>
 {%- for col in row -%}
<td id="opp_c{{loop.index}}r{{r}}" class="{{ col }}"></td>
 {%- endfor -%}
</tr>
{%- endfor %}
</table>
</div>
<form>
<input type="button" value="swap" onclick="swap()"></input>
</form>

<script>
 var list = ['water','miss','hit','boat']
 for (var r=1;r<11;r++) {
  for (var c=1;c<11;c++) {
   var coord = 'you_c'+c+'r'+r
   var el = document.getElementById(coord)
   var num = (c*10+r)%list.length
   el.className = list[num]
  }
 }
 var board = true
 function swap() {
  board = !board
  if (!board) {
   document.getElementById('myboard').style="display:none"
   document.getElementById('theirboard').style="display:inherit"
  } else {
   document.getElementById('myboard').style="display:inherit"
   document.getElementById('theirboard').style="display:none"
  }
 }
</script>

{% endblock %}
