{% extends "layout.html" %}

{% block moremeta %}
<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
{% endblock %}


{% block content %}

<style>

.water { background-color: cyan }
.miss { background-color: yellow }
.hit { background-color: red }
.boat { background-color: grey }

</style>
Stage: <span id="game_stage">{{ game.stage() }}</span>
<br />
<span id="whose_turn"></span>
<br />
<form>
<input type="button" value="swap" onclick="swap()"></input>
<input type="button" value="ping" onclick="ping()"></input>
<input type="button" value="ready" onclick="ready('{{ current_user.id }}','{{ game.id }}')"></input>
</form>
<div id="myboard" style="display:inherit; position:relative">
    <h2>{{current_user.id}}</h2>

<br />
    <div style="display:inherit; position:relative">
        <div id="sea">          
        </div>
        {% if game.stage() == 'setup' %}
        <div id="boats">
        </div>
        {% endif %}
    </div>
</div>

<div id="theirboard" style="display:none">
    <h2 id="opponents_name">{{ game.opponent(current_user.id) }}</h2>
    <div>
        <div id="theirsea">          
        </div>        
    </div>
</div>

<br />


<div id="output">poo</div>


<script src="{{ url_for('static', filename='lib/socket-io/socket.io.min.js')}}"></script>
<script src="{{ url_for('static', filename='lib/d3/d3.v4.min.js')}}"></script>
<script src="{{ url_for('static', filename='battleships.js')}}?{{ game.id }}"></script>
<script>

//document.addEventListener('mousedown', function(e) { document.getElementById('output').innerHTML='md '+e; console.log(e) })
//document.addEventListener('mousemove', function(e) { document.getElementById('output').innerHTML='mm '+e })
//document.addEventListener('touchstart', function(e) { document.getElementById('output').innerHTML='ts '+e })
//document.addEventListener('touchmove', function(e) { document.getElementById('output').innerHTML='tm '+e })
//document.addEventListener('touchend', function(e) { document.getElementById('output').innerHTML='te '+e })


    var boats_data = {{ game.get_game_player(current_user.id).get_boats() | safe }}
    var boat = d3.select('#boats').selectAll('.boat').data(boats_data)
    var boatEnter = boat.enter().append('div')

    var sea_data = {{ game.get_game_player(current_user.id).get_board() | safe }}
   
    console.log(sea_data)
    
    var sea = d3.select('#sea').selectAll('.sea').data(sea_data)
    var seaEnter = sea.enter().append('div')
    
    seaEnter.attr('id', function(d,i) { return d.name })
        .attr('class', function(d,i) { return d.type })
        .style('position', 'absolute' )
        .style('top', function(d,i) { return (d.r*( {{ game.cell_size}} + {{ game.border_spacing }} ))+'px' } )
        .style('left', function(d,i) { return (d.c*( {{ game.cell_size}} + {{ game.border_spacing }} ))+'px' } )
        .style('width', '{{ game.cell_size}}px' )
        .style('height', '{{ game.cell_size}}px' )
        .text(function(d,i) { return d.id})
        .on('drop', drop )
        .on('dragover', allowdrop )
    
    
    var boat = d3.select('#boats').selectAll('.boat').data(boats_data)
    var boatEnter = boat.enter().append('div')
    
    boatEnter.attr('id', function(d,i) { return `${d.name}` })
        .attr('class', 'boat dragboat')
        .attr('draggable', 'true')
        .style('position', 'absolute')
        .style('top', function(d,i) { return `${ {{ game.cell_size}} * i + 100 }px` })
        .style('left', 300)
        .on('dragstart', drag)
        .on('mousedown', starttouch)
        .on('mouseup', endtouch)
        .on('touchmove', drag)
        .on('drop', drop)
        .on('touchend', endtouch)
        .on('touchstart', starttouch)
        //.on('click', spin)
        
    boat_update()   
        
    function boat_update() {
        d3.select('#boats').selectAll('.boat')
            .style('width', function(d,i) { return `${d.width * {{ game.cell_size}} + (d.width - 1) * {{ game.border_spacing }} }px` })
            .style('height', function(d,i) { return `${d.height * {{ game.cell_size}} + (d.height - 1) * {{ game.border_spacing }} }px` })
    }
       
    function starttouch(me) {
        me.timeStamp = d3.event.timeStamp
        console.log(me)
    }
     
    function endtouch(me) {
        if (me.timeStamp == d3.event.timeStamp) return
        document.getElementById('output').innerHTML+=d3.event.timeStamp+' '
        if ((me.timeStamp + 200) > d3.event.timeStamp) spin(me)
        else drop(me)
    }
    
    function drag(me) {  
        console.log('drag', me,d3.event.target)
        console.log('drag start', d3.event)  
        d3.event.dataTransfer.setData("text", d3.event.target.id);
    }
    
    function allowdrop(me) {
        console.log('allowdrop', me,d3.event.target)
        ev = d3.event
        ev.preventDefault();
        
    }
    
    function drop(me) {
    
        ev = d3.event
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var boat = d3.select('#'+data).datum()
        console.log('drop', me, d3.event.target, boat )
        boat.r = me.r
        boat.c = me.c
        d3.select('#'+data).datum(boat)
        console.log((boat.timeStamp+300) , d3.event.timeStamp)
        //if ((boat.timeStamp+300) > d3.event.timeStamp) spin(me)
        //ev.target.appendChild(document.getElementById(data));   
        //console.log(document.getElementById(data),  ev.target  )     
        document.getElementById(data).style.top = ev.target.style.top        
        document.getElementById(data).style.left = ev.target.style.left        
    }
    
    function spin(me) { 
                
        //var text = event.target.id.replace(/[^0-9]/g," ").replace(/\s\s+/g, ' ').trim().split(' ')
        console.log('spin', me,d3.event.type,d3.event.target)
        document.getElementById('output').innerHTML+='! '
        
        me.horizontal *= -1
        
        h = me.height
        w = me.width
        me.height = w 
        me.width = h                     
   
        //account for rotation danger, these are swapped
        //event.target.id=`boat_c${c}r${r}w${h}h${w}aw${ah}ah${aw}`
        //console.log('twisted')

        boat_update()
    }

</script>
{% endblock %}

