{% extends "layout.html" %}

{% block moremeta %}
<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
{% endblock %}


{% block content %}

<style>

.water { background-color: cyan }
.miss { background-color: yellow }
.hit { background-color: red }
.boat { background-color: grey }
.illegal { background-color: orange }

</style>
Stage: <span id="game_stage">{{ game.stage() }}</span>
<br />
<span id="whose_turn"></span>
<br />
<form>
<input type="button" value="swap" onclick="swap()"></input>
<input type="button" value="ping" onclick="ping()"></input>
<input type="button" value="ready" onclick="ready(''{{ game.id }}')"></input>
</form>
<div id="myboard" style="display:inherit; position:relative">
    <h2>{{current_user.name}}</h2>
    <div style="display:inherit; position:relative">
        <div id="sea" style="display:inherit; position:relative">      
        </div>
       
    </div>
    {% if game.stage() == 'setup' %}
    <div id="boats" style="display:inherit; position:relative">
    </div>
    {% endif %}
</div>

<div id="theirboard" style="display:none">
    <h2 id="opponents_name">{{ game.opponent(current_user.id) }}</h2>
    <div>
        <div id="theirsea">          
        </div>        
    </div>
</div>

<br />


<div id="output">poo</div>


<script src="{{ url_for('static', filename='lib/socket-io/socket.io.min.js')}}"></script>
<script src="{{ url_for('static', filename='lib/d3/d3.v4.min.js')}}"></script>
<script src="{{ url_for('static', filename='battleships.js')}}?{{ game.id }}"></script>
<script>

    var boats_data = {{ game.get_game_player(current_user.id).get_boats() | safe }}
    var boat = d3.select('#boats').selectAll('.boat').data(boats_data)
    var boatEnter = boat.enter().append('div')

    var sea_data = {{ game.get_game_player(current_user.id).get_board() | safe }}

    var sea = d3.select('#sea').selectAll('.sea').data(sea_data)
    var seaEnter = sea.enter().append('div')

    seaEnter.attr('id', function(d,i) { return d.name })
        .attr('class', function(d,i) { return d.type })
        .style('position', 'absolute' )
        .style('top', function(d,i) { return (d.r*( {{ game.cell_size}} + {{ game.border_spacing }} ))+'px' } )
        .style('left', function(d,i) { return (d.c*( {{ game.cell_size}} + {{ game.border_spacing }} ))+'px' } )
        .style('width', '{{ game.cell_size}}px' )
        .style('height', '{{ game.cell_size}}px' )
        .text(function(d,i) { return d.id})
        .on('drop', drop )
        .on('dragover', allowdrop )

    var boat = d3.select('#boats').selectAll('.boat').data(boats_data)
    var boatEnter = boat.enter().append('div')

    boatEnter.attr('id', function(d,i) { return `${d.name}` })
        .attr('class', 'boat dragboat')
        .attr('draggable', 'true')
        .style('position', 'absolute')
        .on('dragstart', drag)
        .on('mousedown', starttouch)
        .on('mouseup', endtouch)
        .on('touchmove', drag)
        .on('drop', drop)
        .on('touchend', endtouch)
        .on('touchstart', starttouch)
        //.on('click', spin)
        
    
    function starttouch(me) {
        me.timeStamp = d3.event.timeStamp
        //console.log(me)
    }
     
    function endtouch(me) {
        if (me.timeStamp == d3.event.timeStamp) return
        document.getElementById('output').innerHTML+=d3.event.timeStamp+' '
        if ((me.timeStamp + 200) > d3.event.timeStamp) spin(me)
        else drop(me)
    }

    function drag(me) {  
        //console.log('drag', me,d3.event.target)
        //console.log('drag start', d3.event)  
        d3.event.dataTransfer.setData("text", d3.event.target.id);
    }

    function allowdrop(me) {
        //console.log('allowdrop', me,d3.event.target)
        ev = d3.event
        ev.preventDefault();
        
    }

    function drop(me) {
        ev = d3.event
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        var boat = d3.select('#'+data).datum()
        //console.log('drop', me, d3.event.target, boat )
        boat.r = me.r
        boat.c = me.c
        //console.log((boat.timeStamp+300) , d3.event.timeStamp)
        //if ((boat.timeStamp+300) > d3.event.timeStamp) spin(me)
        //ev.target.appendChild(document.getElementById(data));   
        console.log(me, document.getElementById(data),  ev.target  )     
        //document.getElementById(data).style.top = ev.target.style.top        
        //document.getElementById(data).style.left = ev.target.style.left  
        boat.top =  ev.target.style.top  
        boat.left =  ev.target.style.left  
        d3.select('#'+data).datum(boat)
        boat_update()
        update_server(boat,'{{game.id}}','{{current_user.id}}')
    }

    function spin(me) { 
    
        document.getElementById('output').innerHTML+='! '
        
        me.horizontal *= -1
        
        h = me.height
        w = me.width
        me.height = w 
        me.width = h                     

        boat_update()
        update_server(me,'{{game.id}}','{{current_user.id}}')
    }


    function boat_update() {
        d3.select('#boats').selectAll('.boat')
            .style('left', function(d,i) { return `${d.left}` })
            .style('top', function(d,i) { return `${d.top}` })
            .style('width', function(d,i) { return `${d.width * {{ game.cell_size}} + (d.width - 1) * {{ game.border_spacing }} }px` })
            .style('height', function(d,i) { return `${d.height * {{ game.cell_size}} + (d.height - 1) * {{ game.border_spacing }} }px` })
            .call(function(s) { console.log('boat update',s.datum()) })
            .classed('illegal',function(d) { return d.illegal==1})
            
    }
       
    boat_update()   
            
    socket.on('update_boat', function(boat_string) {
        var boat = JSON.parse(boat_string)
        console.log('hello',boat)
        d3.select('#'+boat.name).datum(boat)
        boat_update()   
    })

</script>
{% endblock %}

